<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SuperDuperMarket.DAL.Properties.Settings.ConnectionString"
            connectionString="Data Source = SuperDuperMarket.db" />
    </connectionStrings>
</configuration>